
{{ define "main" }}

<div class="about-section">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-md-8 col-lg-4">
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="col-12">
                    {{ with .Content }}
                    {{.}}
                    {{ end }}

                    <form
                    name="contact"
                    method="POST"
                    action="contact" 
                    data-netlify="true"
                    netlify-honeypot="bot-field"
                    onsubmit="disableButton(this)">

                        <input type="hidden" name="form-name" value="contact">

                        <!-- Honeypot field -->
                        <p hidden>
                            <label>Don’t fill this out: <input name="bot-field" /></label>
                        </p>

                        <!-- Visible fields -->
                        <p><label>Name: <input type="text" name="name" required></label></p>
                        <p><label>Email: <input type="email" name="email" required></label></p>
                        <p><label>Message: <textarea name="message" required></textarea></label></p>

                        <p><button type="submit">Send</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<script src="/js/form.js"></script>
{{ end }}